/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Style */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom:22px;
}

/* top players */
.top-players{
    margin-bottom: 30px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 3px;
    font-weight: 500;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.player-name{
    font-weight: 500;
}

/* top blogs */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}

.thubmnail img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
     color: #562EFF;
    text-decoration: none;
}

/* courses style */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course-info{
    display: flex;
    align-items: center;
}

.course-banner img{
    width: 266px;
    height: 141px;
} 

.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;
}


/* Responsive */

/* mobile */

@media only screen and (max-width:688px) {

    .container{
        width: 100%;
    }
.players, .courses, .blogs{
    grid-template-columns: repeat(1, 1fr);
}

.player{
    flex-direction: column;
}


.blog {
    flex-direction: column;
    align-items: center;
}

.courses{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}